@font-face {
    font-family: nanum;
    src: url(Nanum_Gothic/NanumGothic-Regular.ttf)format('ttf');
}

*{ /*기본값 설정*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background:url(images/sky.jpg); /*배경사진 설정*/
}

.container header{
    width: 80%;
    height: 80px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header h1{
    text-decoration: none;
    color: white;
    font-family: nanum;
    font-size: 3em;
    margin-top: auto;
}

.container header .wrapper{
    display: flex;
    align-items: center;
}

.container header .wrapper nav{
    margin-right: 20px;
    display: inline-block; /*nav안에 있는 tag들이 일렬로 정렬되기 위해 사용*/
    margin: 0 10px;
}

.container header .wrapper nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.container header .wrapper nav a:hover{ /*커서를 버튼 위에 올렸을 때 반응*/
    color: #1fdfdf;
}

.container header .wrapper .searchArea{
    background: none;
    color: white;
}

.container header .wrapper .searchArea{
    background: none;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    margin-top: auto;
}

.container header .wrapper .searchArea input{
    background: none;
    border: 1px white;
    color: white;
    padding: 0px;
    margin-top: auto;
    outline: none;
    cursor: pointer;
}

.container header .wrapper button{
    background: none;
    border: 1px white;
    color: white;
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}

.container aside{
    width: 20%;
    min-height: 80%; /*aside의 높이가 창의 80%보다 작아지는 것을 방지하기 위해 사용*/
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3.5%;
    float: left;
    background: aliceblue;
    text-align: center;
    border-radius: 10px;
}

.container aside #manual{
    margin-top: 30%;
}

.container aside #warning{
    font-size: 1.15em;
    font-family: nanum;
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    color: #B9062F;
    word-break: break-all;
}

.container aside #info1{
    float: left;
    font-size: 1.3em;
    margin-left: 10%;
    margin-top: 20%;
    margin-right: 10%;
}

.container aside #info2{
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    clear:left; /*일렬로 정렬되는 것 방지*/
    text-align: left;
}

.container aside #info3{
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    clear:left; /*일렬로 정렬되는 것 방지*/
    text-align: left;
}

.container  #contents{
    min-height: 60%;
    margin-top: 3%;
    margin-left: 25%;
}

.container  #contents #img1{
    float: left;
    width: 25%;
    min-width: 200px;
    height: auto;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    border-radius: 10px;
}

.container #contents #comment1{
    margin-left: 35%;
    padding-top: 8%;
    padding-bottom: 8%;
    color: aliceblue;
    font-size: 1.5em;
    font-family: nanum;
}

.container #contents #comment1 .result1{
    color: #cc3300;
}

.container #contents #img2{
    float:left;
    width: 25%;
    min-width: 200px;
    height: auto;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
    border-radius: 10px;
}

.container #contents #comment2{
    margin-left: 35%;
    padding-top: 8%;
    color: aliceblue;
    font-size: 1.5em;
    font-family: nanum;
}

.container #contents #comment2 .result2{
    color: #cc3300;
}

.container aside button{
    background: none;
    border: 2px solid lightslategray;
    color: lightslategrey;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
}

.container aside button:hover{ /*커서를 버튼 위에 올렸을 때 반응*/
    background-color: rgba(0,0,0,0.3);
}

footer{
    position: fixed; /*footer의 위치를 고정시켰다.*/
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer I{ /*footer의 contents*/
    color: white;
}

@media only screen and (max-width:900px) { /*창이 900px보다 작을 때 반응*/

    .container aside #warning{
        font-size: 0.9em; /*주로 글자크기와 margin-left가 변화하였다.*/
        font-family: nanum;
        margin-top: 30%;
        margin-left: 10%;
        margin-right: 10%;
        color: #B9062F;
        word-break: break-all;
    }
    
    .container  #contents #img1{
        width: 25%;
        margin-left: 5%;
        margin-top: 10%;
        margin-right: 5%;
        border-radius: 10px;
    }
    
    .container #contents #comment1{
        margin-left: 10%;
        padding-top: 3%;
        padding-bottom: 8%;
        color: aliceblue;
        font-size: 0.95em;
        font-family: nanum;
        display: inline-block;
    }
    
    .container #contents #img2{
        width: 25%;
        margin-left: 5%;
        margin-top: 10%;
        margin-right: 5%;
        border-radius: 10px;
    }
    
    .container #contents #comment2{
        margin-left: 10%;
        padding-top: 3%;
        color: aliceblue;
        font-size: 0.95em;
        font-family: nanum;
        display: inline-block;
    }

    .container aside #info1{
        float: left;
        font-size: 0.95em;
        margin-left: 5%;
        margin-top: 20%;
        margin-right: 10%;
    }
    
    .container aside #info2{
        font-size: 0.95em;
        margin-left: 5%;
        margin-top: 20%;
        margin-right: 10%;
        clear:left; /*일렬로 정렬되는 것 방지*/
        text-align: left;
    }
    .container aside #info3{
        font-size: 0.95em;
        margin-left: 5%;
        margin-right: 10%;
        clear:left; /*일렬로 정렬되는 것 방지*/
        text-align: left;
    }

}